<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jove.demo.persistence.SelectContentMapper">
    <select id="selectContent" parameterType="int" resultType="com.jove.demo.models.ContentResult">
        SELECT * FROM CONTENT WHERE ID=#{id}
    </select>
</mapper>